<div class="row-fluid" style="margin-top: 1em; margin-bottom: 2em;">
			<div class="span10 chatbox">
				<h5 class="categorie">Tchat</h5>
		        <div id="text" style="height: 250px; overflow: auto;">
		            <div id="loading">
		                <center>
		                <span class="info" id="info">Chargement du chat en cours...</span><br />
		                <img src="{{app.request.baseUrl}}/img/ajax-loader.gif" alt="patientez...">
		                </center>
		            </div>
		        </div>

		        <div style="text-align: center; margin-top: 1em;">
		        	{% if (app.session.get('user') != null)  %}
				        <form class="form-inline" onsubmit="chatController.postMessage('{{ app.session.get('user')['login'] }}'); return false;" autocomplete="off">
					        <div class="input-append">
							  <input class="input-xxlarge" id="messageChat" type="text" maxlength="300">
							  <input type="submit" class="btn" value="Envoyer">
	                                                  {% if(isAdmin) %}
	                                                       <a class="btn"  onClick="chatController.deleteLastMessages();">Purger 30 messages</a>
	                                                  {% endif %}
	                                                  
							</div>
						</form>
					{% else %}
		        		Il est nécessaire d'être authentifier pour poster un message
		        	{% endif %}

		        </div>


			</div>
			<div class="span2 chatbox">
				<h5 class="categorie">En ligne</h5>
				<div style="height: 250px; overflow: auto;" id="onlineUsers">
		            <div id="loading">
		                <center>
		                <span class="info" id="info">Chargement du chat en cours...</span><br />
		                <img src="{{app.request.baseUrl}}/img/ajax-loader.gif" alt="patientez...">
		                </center>
		            </div>
				</div>
			</div>
		</div>
		<script>

		$(document).ready(function() {
			 onLoadController.onLoadChat();
		});


		</script>
