<table class="table-striped table-condensed table-bordered" width="100%">
	{% for user in connected_users %}
		<tr>
			<td><a href="{{ path('profile',{username: user.username} ) }}" {% if user.profil > 0 %} style="color: red" {% endif %}>{{ user.username }}</a></td>
		</tr>
	{% endfor %}
</table>