/**
 * **********************
 * GENERAL
 * **********************
 */
.logo_campagne{
    display:none;
}
html, body, .container-fluid, .container-fluid>.row, #contentDiv{
    height: 100%;
    background: #666;
}
a{
    color: #428bca;
}

/**
 * **********************
 * LEAFLET
 * **********************
 */
.leaflet-grid-label{
    display: none !important;
}
.leaflet-popup-content{
    width: 200px !important;
}
.leaflet-container{
    background: transparent;
}
.leaflet-image-layer{
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
}
[ng-app], [ng-view]{
    height: calc(100% - 10px);
}
.map{
    height: 100%;
    width: 100%;
    /*z-index: 10050;*/
    overflow: hidden;
    background-color: #EEE;
    border-radius: 3px;

    /*Grid*/
    background-image: linear-gradient(0deg, transparent 24%, rgba(0, 0, 0, .05) 25%, rgba(0, 0, 0, .05) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, .05) 75%, rgba(0, 0, 0, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(0, 0, 0, .05) 25%, rgba(0, 0, 0, .05) 26%, transparent 27%, transparent 74%, rgba(0, 0, 0, .05) 75%, rgba(0, 0, 0, .05) 76%, transparent 77%, transparent);
    background-size:50px 50px;
}
.map:after {
    content: ' ';
    width: 100%;
    height: 100%;
    border: 1px solid #999;
    position: absolute;
    top: 0;
    -webkit-box-shadow: inset 0px 0px 22px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 22px 6px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 22px 6px rgba(0, 0, 0, 0.75);
    pointer-events: none;
    border-radius: 3px;
}
.map-sidebar{
    position: absolute;
    top: 20px;
    left: 16px;
    z-index: 1;

    width: 30%;
    height: calc(100% - 150px);
    margin-right: 10px;
    background-color: #fff;
    border-bottom-right-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.75) 5px 5px 12px 0px;
    transition: all 0.5s ease-in-out;
}
.map-sidebar .map-tab{
    margin: 10px;
}
.map-sidebar .nav li:first-child a{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.map-sidebar .fa-expand{
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 13px;
}
.map-sidebar.map-sidebar-reduced{
    height: 40px;
    width: 40px;
    overflow: hidden;
}
.map-sidebar.map-sidebar-reduced .map-tab, .map-sidebar.map-sidebar-reduced .nav{
    display: none;
}
.map-pin{
    /*position: relative;*/
    float: left;
    margin: 5px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    /*overflow: hidden;*/

    border-radius: 30px;
    background-color: #fff;

    box-shadow: 0 0 0 1px #fff, 0px 6px 5px 0px rgba(0,0,0,0.75);

    text-align: center;
}
/*The pin below the marker*/
.map-pin::before{
    content: "";
    position: absolute;
    bottom: -8px;
    left: 14px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #666 transparent;
    display: block;
    width: 0;
    z-index: -1;
}
/*The shadow below the pin*/
.map-pin::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 6px;
    border-width: 18px 18px 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
    z-index: -2;
}
.map-pin img{
    height: 48px;
    width: 48px;
    border-radius: 24px;
    border: 4px solid #666;
    background-color: #fff;
}
.map-pin-perso .btn{
    float: left;
}
.map-pin-perso-user img{
    border-color: #5cb85c;
}
.map-pin-perso-user::before{
    border-color: #5cb85c transparent;
}
.map-popup h1 {
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
    width: 130px;
}
.map-popup-img{
    float: left;
    width: 64px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.map-popup-img .btn{
    width: 100%;
}
.map-popup-img img{
    width: 64px;
    border-radius: 3px;
    margin-bottom: 5px;
}
.map-popup>.form-control{
    float: left;
    font-size: 11px;
    width: 130px;
    margin: 0;
    margin-bottom: 5px;
}
.map-popup textarea{
    resize: none;
    height: 150px;
}
.map-pin-perso img{
    width: 100%;
}
.fa.fa-spin{
    position: absolute;
    top: 35px;
    right: 30px;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}