.sidebar {
	background-color: #DDDDDD;
	padding: 1em;
	border-radius: 15px;
	min-height: 500px !important;
	position: fixed;
	right: 15px;
	top: 50px;
	font-size: 0.9em;
}

.sidebarTop {
	background-color: #DDDDDD;
	padding: 1em;
	border-radius: 15px;
	font-size: 0.9em;
	margin-bottom: 1em;
}

.categorie {
	background-color: #DDDDDD;
	font-weight: bold;
	padding: 0.5em;
}

blockquote p {
	font-weight: 100;
	font-size: 1em;
	color: #339966;
}


.dialogue {
    color: #4488CC;
    font-weight: bold;
}


.pensee {
    color: #8844CC;
    font-weight: bold;
    font-style:italic;
}


.hrp {
    background: none repeat scroll 0 0 #F7F5F2;
    border-bottom: 2px solid #999999;
    border-top: 2px solid #999999;
    display: block;
    font-family: "dejavu sans mono","monaco","lucida console","courier new",monospace;
    font-size: x-small;
    line-height: 1.5em;
    max-height: 24em;
    padding: 3px 1em;
    color: black !important;
}

.spoiler {
	
}

.postContent {
	text-align: justify;
}

.carouseltitle {
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0.74902);
	background-image: none;
	background-origin: padding-box;
	background-size: auto;
	padding: 0.5em;
	color: white;
}

.carousel .item {-webkit-transition: opacity 2s; -moz-transition: opacity 2s; -ms-transition: opacity 2s; -o-transition: opacity 2s; transition: opacity 2s;}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}

.statistiques {
	font-size: 0.9em;
	font-style: italic;
}

.sidebar {
	font-size: 0.8em;
}

a.collapserLink {
    text-decoration: none;
}

a.collapserLink:hover {
    text-decoration: none;
}

.alarm-on {
    color: #F95;
}

.campagne_alert {
    color: red;
    font-weight: 550;
}

.invisible {
    display: none;
}

.profil2 {
    color: red;
}

.profil1 {
    color: #B061FF;
}

.profil-1 {
    display: none;
}
