<div id="dicerHelp" class="modal fade">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Lanceur de dé - Syntaxes possibles</h3>
            </div>
            <div class="modal-body">

                    <p><b>3d6</b> : Lance 3 dé à 6 faces </p>
                    <p><b>3d6 + 3</b>: Lance 3 dé à 6 faces et ajoute 3 </p>
                    <p><b>1d8 + 2d10</b>: Lance 1 dé à 8 face et 2 dé à 10 face, puis les ajoute. </p>
                    <p><b>3d8g2</b>: Lance 3 dé à 8 face et conserve les deux meilleurs (g comme great). </p>
                    <p><b>3d8l2</b>: Lance 3 dé à 8 face et conserve les deux moins bons (l comme less). </p>
                    <p><b>(1d8 + 2d6)g1</b>: Lance 1 dé à 8 face et 2 dé à 6 face, puis conserve le meilleur. </p>


            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
            </div>
        </div>
    </div>
</div>