<div class="map-sidebar {{tabReduce ? 'map-sidebar-reduced':''}}" ng-if="carte.isMj">
    
    <ul class="nav nav-pills nav-justified">
        <li class="{{tab=='perso' ? 'active':''}}" title="Personnages" ng-click="tab='perso'"><a><i class="fa fa-user"></i></a></li>
        <!--<li class="{{tab=='lieux' ? 'active':''}}" title="Lieux" ng-click="tab='lieux'"><a><i class="fa fa-map-marker"></i></a></li>-->
        <li class="{{tab=='config' ? 'active':''}}" title="Configuration" ng-click="tab='config'"><a><i class="fa fa-cog"></i></a></li>
    </ul>

    <div ng-show="tab=='perso'">
        <div class="map-perso {{perso.user_id ? 'map-perso-user':''}}"
             data-drag="true"
             data-jqyoui-options="{revert: true}"
             jqyoui-draggable="{animate:true}"
             ng-show=" ! perso.onMap"
             ng-repeat="perso in carte.personnages">
            <img src="files/thumbnails/perso_{{perso.id}}.png"/>
        </div>

        <div class="map-perso map-custom"
             data-drag="true"
             data-jqyoui-options="{revert: true}"
             jqyoui-draggable="{animate:true}">
            <i class="fa fa-plus fa-3x"></i>
        </div>
    </div>

    <div class="fa fa-expand fa-lg fa-flip-horizontal" ng-click="tabReduce=!tabReduce"></div>
</div>

<leaflet
        class="map"

        data-drop="true"
        data-jqyoui-options
        ng-model="list2"
        jqyoui-droppable="dropOptions"

        defaults="options.defaults"
        center="options.center"
        layers="options.layers"
        markers="options.markers"
        maxBounds="options.maxBounds"
        ></leaflet>

<i class="fa fa-3x fa-circle-o-notch fa-spin" ng-show="tracker.active()"></i>