<div class="map-sidebar {{carte.config.tabReduce ? 'map-sidebar-reduced':''}}" ng-if="carte.isMj">
    
    <ul class="nav nav-pills nav-justified">
        <li class="{{carte.config.tab=='perso' ? 'active':''}}" title="Personnages" ng-click="selectTab('perso')"><a><i class="fa fa-user"></i></a></li>
        <!--<li class="{{tab=='lieux' ? 'active':''}}" title="Lieux" ng-click="tab='lieux'"><a><i class="fa fa-map-marker"></i></a></li>-->
        <li class="{{carte.config.tab=='config' ? 'active':''}}" title="Configuration" ng-click="selectTab('config')"><a><i class="fa fa-cog"></i></a></li>
    </ul>

    <div class="map-tab" ng-show="carte.config.tab=='perso'">
        <div class="map-perso {{perso.user_id ? 'map-perso-user':''}}"
             data-drag="true"
             data-jqyoui-options="{revert: true}"
             jqyoui-draggable="{animate:true, onDrag:'onDrag'}"
             ng-show=" ! perso.onMap"
             bs-tooltip="perso.name"
             ng-repeat="perso in carte.personnages">
            <img src="files/thumbnails/perso_{{perso.id}}.png"/>
        </div>

        <div class="map-perso map-custom"
             data-drag="true"
             data-jqyoui-options="{revert: true}"
             bs-tooltip="'Ajouter un marqueur personnalisé'"
             jqyoui-draggable="{animate:true, onDrag:'onDrag'}">
            <i class="fa fa-plus fa-3x"></i>
        </div>
    </div>

    <div class="map-tab" ng-show="carte.config.tab=='config'">
        <div class="form-group">
            <label>Changer l'image de fond</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-image"></i></span>
                <input type="text" class="form-control" ng-model="interface.image">
                <a href="#uploaderModal" role="button" data-toggle="modal" class="input-group-addon btn btn-default" title="Uploader une image"><i class="icon-upload"></i></a>
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="carte.published" ng-true-value="'1'" ng-false-value="'0'"> Visible aux joueurs
            </label>
        </div>
    </div>

    <div class="fa fa-expand fa-lg fa-flip-horizontal" ng-click="carte.config.tabReduce=!carte.config.tabReduce"></div>
</div>

<leaflet
        class="map"

        data-drop="true"
        data-jqyoui-options
        ng-model="list2"
        jqyoui-droppable="dropOptions"

        defaults="options.defaults"
        center="options.center"
        layers="options.layers"
        markers="options.markers"
        maxBounds="options.maxBounds"
        ></leaflet>

<i class="fa fa-3x fa-circle-o-notch fa-spin" ng-show="tracker.active()"></i>