# Symfony directories
vendor/
*/cache/*
*.db
files/*
jdroll.sublime-project
jdroll.sublime-workspace
node_modules/
files/
composer.lock
web/lib/*
web/css
web/js/jdroll.min.js
web/js/templates.min.js
api/config.yml
logs/*.log
cache
