
<fieldset class="titled-box" ng-controller="AuthenticationController">
				<legend>Réinitialisation de mot de passe</legend>
	<form role="form" class="form-horizontal"  ng-submit="resetUserPassword()">
	    
			<div class="alert alert-warning" ng-hide="message == ''">
				{{message}}
			</div>
			<div ng-show="message == ''">
		    <label class="control-label" for="login">Login</label>
		    <div >
		    	<input class="form-control" type="text" id="login" ng-model="login" name="login" placeholder="Nom d'utilisateur">
		    </div>
	  
		    <div >
			    <button type="submit" class="btn btn-primary">Valider</button>
		    </div>
	    </div>
    </form>
</fieldset>


