<div style="margin-top: 3em"></div>

	<form role="form" class="form-horizontal" action="{{ path('reset_asked')  }}" method="POST">
	    <div class="form-group">
		    <label class="control-label" for="login">Login</label>
		    <div class="form-control">
		    	<input type="text" id="login" name="login" placeholder="Nom d'utilisateur">
		    </div>
	    </div>
	    
	    <div class="form-group">
		    <div class="form-control">
			    <button type="submit" class="btn">Valider</button>
		    </div>
	    </div>
    </form>


