<div id="themingHelp" class="modal hide fade">
    <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3>Themes couleurs - Configurations</h3>
    </div>
    <div class="modal-body">

    	<p><b>Couleur des lignes paires</b></p>
        <p>Couleur des lignes pairs dans les différents tableaux. Sera principalement visible dans la liste des posts du forum.</p>

        <p><b>Couleur des lignes impaires</b></p>
        <p>Couleur des lignes impairs dans les différents tableaux. Sera principalement visible dans la liste des posts du forum.</p>

        <p><b>Couleur de la barre latéral</b></p>
        <p>Couleur de fond de la barre de menu latérale au sein de votre campagne (qui comprend des icones ainsi que la liste des personnages). </p>

        <p><b>Couleur des liens</b></p>
        <p>Couleur du texte des liens dans les parties principales de l'application. </p>

        <p><b>Couleur de la barre latéral</b></p>
        <p>Couleur du texte des liens qui seront écrit par dessus la couleur de fond de la barre latérale. </p>


    </div>
    <div class="modal-footer">
    	<button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
    </div>
</div>