{% extends "squelette.html.twig" %}

{% block content %}

<p>jdRoll est une plateforme open-source d'hebergement de jeu de rôle par forum. Les 
<a href="https://github.com/Armaklan/jdRoll.git">sources sont disponible sur github.</a></p>

<p>Toutes contributions est biensur la bienvenue !</p>


{% endblock %}
