{% extends "squelette.html.twig" %}

{% block content %}
	 
	<div class="alert">
	    <button type="button" class="close" data-dismiss="alert">&times;</button>
	    <strong>Nouvelles fonctionnalitées!</strong> Le forum public vient d'être déployé :)
    </div>
    <div class="alert">
	    <button type="button" class="close" data-dismiss="alert">&times;</button>
	    <p></p>
	    <strong>Nouvelles fonctionnalitées!</strong> Lanceur de dés déployé
    </div>
    
	<h3>Bienvenue sur la plateforme jdRoll ! </h3>
	
	<p></p>
	<p>Envie de rejoindre une partie ? Regardez les campagnes qui recrute dans <b>Jouer > Rejoindre une campagne</b></p>
	<p>Envie de proposer une partie ? Allez sur <b>Jouer > Créer une campagne.</b></p>
	<p></p>
	<p>Jouer sur les parties où vous vous êtes inscrit ? Simple, cliquez sur le nom de la partie dans votre sidebar,
	 vous débrancherez alors dans l'espace spécifique à votre campagne.</p>

{% endblock %}