{% extends "squelette_campagne.html.twig" %}

{% block content %}

	{% if (error != "") %}
	    <div class="alert alert-error">
	    	{{ error }}
	    </div>
    {% endif %}

    <div class="container-fluid">
    	<div class="row-fluid">
    		<div class="span2" align="center">
    			<p><b>{{ perso['name'] }}</b></p>
			    <img src="{{ perso['avatar'] }}" width="150px" class="img-rounded" />
    		</div>
    		<div class="span10">
    			{% autoescape false %}
			    	<p>{{ perso.publicDescription }}</p>
			    {% endautoescape %}
    		</div>
    	</div>
    </div>

{% endblock %}