	<ul class="nav nav-tabs nav-stacked">
		<li class='active'><a href='#'><b>Partie active (MJ)</b></a></li>
		{% for campagne in active_campagnes %}
			<li><a href="{{ path('campagne', {id : campagne.id}) }}">{{ campagne.name }}</a></li>
		{% endfor %}
	</ul>
