
	{% if (app.session.get('user') == null)  %}
	<form class="" action="{{ path('login_connect')  }}" method="POST">
	    <div class="control-group">
		    <div class="controls">
		    	<input type="text" id="login" name="login" placeholder="Nom d'utilisateur">
		    </div>
	    </div>
	    <div class="control-group">
		    <div class="controls">
		    	<input type="password" id="pass" name="pass" placeholder="Mot de passe">
		    </div>
	    </div>	    
	    <div class="control-group">
		    <div class="controls">
			    <button type="submit" class="btn btn-primary">Se connecter</button>
			    <a href="{{ path('subscribe') }}" class="btn">S'inscrire</a>
		    </div>
	    </div>
    </form>
    {% else %}
    	<div align="center">
    		<img src="{{ app.session.get('user')['avatar'] }}" width="150px" class="img-rounded" />
    	</div>
    {% endif %}
    <p></p>