{% extends "squelette.html.twig" %}

{% block content %}

	<div id="mychat"><a href="http://www.phpfreechat.net">phpFreeChat: simple Web chat</a></div>
	<script type="text/javascript">
	  $('#mychat').phpfreechat({ serverUrl: '{{app.request.baseUrl}}/phpfreechat-2.1.0/server' });
	</script>

{% endblock %}