<div id="visuSheetPopup" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
                <button class="btn btn-primary" style="float:right;" aria-hidden="true" id="BtnVisuEditMode" type="button">Mode édition</button>
                <button class="btn btn-primary" style="float:right;display:none;" aria-hidden="true" id="BtnVisuReadMode" type="button">Mode Lecture</button>
				<h3 class="modal-name">Visualisation de la fiche de personnage</h3>
			</div>
			<div class="modal-body">
				<div id="DivVisuSheet">

				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" onClick="EditorToolBarController.closeModalVisuSheet();" aria-hidden="true" id="CloseBtn" type="button">Fermer</button>
			</div>
		</div>
	</div>
</div>
