{% extends "squelette.html.twig" %}

{% block content %}

<p>jdRoll est une plate-forme open-source d'hébergement de jeu de rôle par forum. Les 
<a href="https://github.com/Armaklan/jdRoll.git">sources sont disponibles sur github.</a></p>

<p>Toute contribution est bien sur la bienvenue !</p>

<p>Vous pouvez également faire un don paypal qui servira majoritairement à financer l'hébergement. <p>
<center>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_donations" />
<input type="hidden" name="business" value="JHHE8J6WJTUAA" />
<input type="hidden" name="currency_code" value="EUR" />
<input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Bouton Faites un don avec PayPal" />
<img alt="" border="0" src="https://www.paypal.com/fr_FR/i/scr/pixel.gif" width="1" height="1" />
</form>

</center>
<p>Et puisqu'on me l'a demandé, l'hébergement actuel coûte un peu plus de 70€ par an. </p>

{% endblock %}
