{% extends "squelette_campagne.html.twig" %}

{% block content %}

<ul class="nav nav-tabs">
  <li class="active"><a href="#desc" data-toggle="tab">Description</a></li>
  <li><a href="#theme" data-toggle="tab">Theme graphique</a></li>
  <li><a href="#car" data-toggle="tab">Feuilles de Personnages</a></li>
  <li><a href="#divers" data-toggle="tab">Diverses</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="desc">
    {% include('campagne/edit.html.twig') %}
  </div>
  <div class="tab-pane" id="divers">
    {% include('campagne/edit_divers.html.twig') %}
  </div>
  <div class="tab-pane" id="car">
    {% include('campagne/edit_car_sheet.html.twig') %}
  </div>
  <div class="tab-pane" id="theme">
    {% include('campagne/edit_config.html.twig') %}
  </div>

</div>

{% endblock %}

