	<div class="row">
		<div class="col-md-2" align="center">
		    <img src="{{ perso['avatar'] }}" width="100px" class="img-rounded" />
		</div>
		<div class="col-md-10">
			<p><b>Concept : </b>{{ perso['concept'] }}</p>
			<p><b>Description : </b></p>
			{% autoescape false %}
		    	<p>{{ perso.publicDescription }}</p>
		    {% endautoescape %}
		</div>
	</div>
