<div ng-controller="SidebarController" class="sidebar">
    <div id="tabs-panel" ng-if="campaignSpace">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#"><span class="fa fa-globe menu-icon"></span>Général</a></li>
            <li><a href="#"><span class="fa fa-bookmark menu-icon"></span>Campagne</a></li>
        </ul>
    </div>
    <div id="widgets-panel">
        <div class="avatar" ng-if="authentInfo.user.avatar != ''">
            <img ng-src="{{authentInfo.user.avatar}}" class="img-rounded" />
        </div>

        <div class="menu">
            <div class="btn-group btn-group-sm">
                <a class="btn btn-default" title="Mes Campagnes"><span class="fa fa-bookmark"></span></a>
                <a class="btn btn-default" title="Forum"><span class="fa fa-folder-open"></span></a>
                <a class="btn btn-default" title="Messagerie"><span class="fa fa-envelope"></span></a>
                <a class="btn btn-default" title="Bloc-Note"><span class="fa fa-book"></span></a>
            </div>
        </div>

        <div class="panel panel-default" ng-repeat="tab in tabset">
            <div class="panel-heading">
                <h3 class="panel-title">
                {{tab.label}}
                </h3>
            </div>
            <div waiting-img="gamesLoading" />
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="game in games | filter:tab.search">
                    <a ng-href="#/forum/{{game.id}}">
                        <span class="fa fa-bell icon-alert" ng-if="game.campagne_alert == 1"></span> 
                        <span class="fa fa-asterisk" ng-if="game.activity > 0"></span> 
                        {{game.name}}
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>