{% extends "squelette_campagne.html.twig" %}

{% block content %}

<style type="text/css">
    .logo_campagne{
        display:none;
    }
    html, body, .container-fluid, .container-fluid>.row, #contentDiv{
        height: 100%;
        background: #666;
    }
    #image-map{
        height: calc(100% - 20px);
    }
</style>

{#jdRoll/forum/4/carte/1#}
<pre style="position: absolute; bottom: 0;z-index: 10">
CARTE
{#{{ dump(carte) }}#}
Reference: <a href="http://kempe.net/blog/2014/06/14/leaflet-pan-zoom-image.html">http://kempe.net/blog/2014/06/14/leaflet-pan-zoom-image.html</a>
</pre>

<script type="text/javascript">

</script>
<img id="image" src="{{ carte.image }}" style="display: none"/>
<div id="image-map" style="width: 100%; "></div>

{% endblock %}

{% block specificEndJs %}

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="{{app.request.baseUrl}}/js/controller/carte.js"></script>
{% endblock %}