<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Bloc Notes</h3>
</div>
<div class="modal-body">
    <div ng-app="test" id="notes-app">
    <span ng-bind="'titi'">

        a
    </span>
    </div>
    <form>
        <textarea id="contentNotes" class="note-wysiwyg">{{ content_notes }}</textarea>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" onClick="return callUpdateNotes();">Sauvegarder</button>
    <button class="btn btn-primary" onClick="return callUpdateNotes(); "data-dismiss="modal" aria-hidden="true">Sauvegarder et Fermer</button>
</div>
