
{% extends "squelette.html.twig" %}

{% block content %}

<div class="affix col-md-2">
  <ul class="nav bs-docs-sidenav">
    <li class=""><a href="#first">Premiers pas</a></li>
    <li class=""><a href="#first">Mener une campagne</a></li>
    <li class=""><a href="#first">Acquérir des supers pouvoirs !</a></li>
  </ul>
</div>

<div class="col-md-10 col-md-offset-2">

<h2> Premiers pas </h2>

<p>La première connexion sur jdRoll peut paraitre intimidante... Un menu imposant, des boutons partouts, ...
Mais n'ayez pas peur ! En bon aventurier, vous aurez tôt fait de maîtriser les secrets de ce sombre donjons !
  Regardons en quelques étapes les premiers chemins qui s'offrent à vous...</p>

<h3>Se présenter</h3>

<h3>Le tchat !</h3>

<h3>Rejoindre une partie</h3>

<h3>Faites des retours</h3>

<h2>Mener une campagne</h2>

<h3>Creer la campagne</h3>

<h3>Faites le avec style</h3>

<h3>Préparer votre feuille de personnages</h3>

<h3>Recruter</h3>

<h2>Acquerir des supers pouvoirs ! </h2>

</div>
{% endblock %}
