<h1 id="petit-guide-illustré-de-jdroll---membre">Petit Guide Illustré de JdRoll - Membre</h1>
<h3 id="première-visite">Première visite</h3>
<p> Bienvenue sur JdRoll ! Votre inscription est complète, il est temps maintenant de vous lancer dans quelques manipulations supplémentaires pour peaufiner votre arrivée et faciliter votre intégration à la communauté.</p>
<p> La première chose à faire est de vous présenter sur le <a href="http://www.jdroll.org/forum/0/71/page/1">topic dédié du forum</a>. Il ne s'agit pas d'y raconter sa vie, mais de partager quelques détails afin de mieux vous connaître. Votre expérience JdR, vos goûts... Afin de vous accueillir comme il se doit et que nous fassions plus ample connaissance !</p>
<p>   Pour être facilement repérable sur le forum, complétez votre profil (Barre de navigation générale &gt; Profil &gt; Editer mon profil). Vous disposez déjà d'un pseudo, ajoutez-y un avatar, ainsi qu'un bref descriptif de vos goûts et préférences : vous pouvez aussi simplement recopier le contenu de votre post de présentation. C'est sur cette page que vous pourrez gérer les informations de votre compte : date de naissance, changement d'adresse mail, de mot de passe notamment.</p>
<p> (<strong>Petit Plus :</strong> la plate-forme autorise l'hébergement d'image. <a href="http://jdroll.org/static/faq">Cf FAQ</a>)</p>
<h3 id="présentation-générale-du-site-la-page-daccueil">Présentation générale du site : la page d'accueil</h3>
<p>Vous trouverez quelques outils intéressants ici, notamment le slider : il présente les parties en cours de recrutement, n'hésitez pas à le faire défiler et faire votre choix !</p>
<p>Les absents du moment y sont également visibles.</p>
<div class="figure">
<img src="img/1_menu.png" />
</div>
<p>Toujours présente lors de la navigation, la barre de navigation est très ergonomique : il est facile de trouver son chemin sur le site. Vous y retrouvez les principales catégories et un accès facilité aux importantes parties du site.</p>
<div class="figure">
<img src="img/2_sidebar.png" />
</div>
<p>La sidebar vous accompagnera sur tout le site. Y figurent votre avatar, ainsi qu'une barre de navigation :</p>
<ol style="list-style-type: decimal">
<li>Accédez en un clic à une page récapitulative de vos parties !</li>
<li>Rejoignez le forum du site.</li>
<li>Accédez à vos messages privés.</li>
</ol>
<p>Suivie de la liste de vos parties, classées selon que vous en êtes le Maître, un Joueur, ou un Lecteur. Vous y retrouverez aussi les informations importantes les concernant :</p>
<ul>
<li>* : messages non lus </li>
<li>Partie en évidence </li>
</ul>
<h3 id="présentation-générale-du-site-communiquer">Présentation générale du site : communiquer</h3>
<p>Le site dispose de plusieurs moyens pour échanger avec les autres membres :</p>
<p><strong>Le forum :</strong> Les règles y sont simples, tolérance et courtoisie sont de mise. Concernant l'écriture, le forum est un moyen de discussion différée, prenez donc le temps d'utiliser un langage correct, lisible et sans abréviation. Le forum est le lieu de prédilection pour les discussions et débats sur des sujets variés. Vous y trouverez aussi des topics de recrutement externe, n'hésitez pas à y faire un tour !</p>
<p><strong>Le chat :</strong> la discussion est instantanée avec les membres présents, n'ayez pas peur de les rejoindre, nous ne mordons pas ! Les règles du forum s'y appliquent. Le langage SMS n'y est pas accepté. Vous pouvez trouver le chat à deux endroits : au pied de la page d'accueil, ou bien du forum.</p>
<p><strong>La messagerie :</strong> Vous y avez déjà eu affaire, la messagerie vous permet de dialoguer en privé avec un ou plusieurs membre(s) à la fois.</p>
<h2 id="pbf">PBF</h2>
<h3 id="joueur">Joueur</h3>
<p>Vous voici prêt à rejoindre votre première partie.</p>
<p>Votre priorité sera de choisir : la barre de navigation vous permet d'accéder rapidement et facilement aux campagnes qui recrutent : Jouer &gt; Rejoindre une campagne.</p>
<div class="figure">
<img src="img/3_recrutement.png" />
</div>
<p><strong>Petit Plus :</strong> le slider en page d'accueil vous donne un aperçu des parties en cours de recrutement !</p>
<p>Vous voici sur la page de recrutement. Un rapide récapitulatif des informations importantes vous permet de visualiser d'un coup d’œil les parties susceptibles de vous intéresser.</p>
<ul>
<li>Le nom de la campagne </li>
<li>L'univers de la campagne : le jeu auquel vous allez jouer. </li>
<li>Le système de jeu : Fusina, personnel, humour... Il s'agit de la manière dont le jeu a été adapté au format PBF, et précise la façon dont vous allez jouer. </li>
<li>Le statut. </li>
<li>Le nombre de joueurs prévus, ainsi que l'avancée du recrutement </li>
<li>Le Maître de Jeu </li>
</ul>
<p>Si vous souhaitez plus d'informations, cliquez sur le nom de la campagne : vous serez dirigés vers sa page détaillée :</p>
<ul>
<li>Le rythme de publication : il peut aller d'un post par mois à plusieurs posts par jour </li>
<li>L'exigence d'écriture : la plupart des parties sont en mode standard (quelques descriptions et pensées), mais l'éventail est plus large et décrit dans la partie Maître du Guide. </li>
<li>Une description de la campagne annoncée </li>
<li>Ainsi que le(s) joueur(s) déjà inscrit(s) </li>
</ul>
<p><strong>Petit Plus :</strong> Pensez à demander aux maîtres de jeu de parties dont l'inscription est déjà fermée si elles vous plaisent : lorsque l'intrigue n'est pas entièrement lancée, un nouveau personnage peut facilement s'ajouter au groupe !</p>
<p>Une fois votre choix arrêté, vous devez vous inscrire : le processus est très simple, il suffit de cliquer sur le bouton « Rejoindre la partie », que vous trouverez soit sur la page de la campagne, soit sur la page de recrutement.</p>
<div class="figure">
<img src="img/4_join.png" />
</div>
<p>Votre inscription ne sera effective que lorsque le Maître l'aura validée (vous serez prévenu via un message privé), et vous pourrez alors commencer à jouer en créant votre personnage. Une fois ceci fait, n'oubliez pas de compléter votre fiche ! Vous pouvez également ajouter descriptions publiques et privées pour donner une idée de votre personnage aux autres joueurs et au Maître.</p>
<p>C'est fait ? Vous pouvez commencer à participer à l'aventure en répondant au topic correspondant.</p>
<p>Le formulaire de saisie fonctionne sur le principe du wysiwyg (what you see is what you get : la mise en forme du texte est directement affichée et non présentée sous forme de balise, par exemple.) et comporte, dans le menu « Format » les différents codes d'écriture que vous devrez utiliser en jeu.</p>
<div class="figure">
<img src="img/5_editeur.png" />
</div>
<p><strong>Petit Plus :</strong> Une mise en page plus poussée est possible via les balises spéciales</p>
<p>La participation est régie par les règles présentées à votre inscription, rythme, contenu des posts, etc. </p>
<p>Si cependant, pour une durée déterminée, vous ne pouvez participer, vous devrez signaler une absence via Profil &gt; Signaler une absence. Il ne vous restera plus qu'à rentrer les dates prévues, et elle sera affichée sur la page d'accueil.</p>
<div class="figure">
<img src="img/6_absent_home.png" />
</div>
<p>Ainsi que sur le forum de votre partie.</p>
<div class="figure">
<img src="img/7_absent_partie.png" />
</div>
<p>Concrètement, si le nombre de joueurs est suffisant, la partie continuera, votre personnage n'interagissant pas ce temps. Si elle est longue, il se transformera en PNJ et sera joué par le Maître selon les directives que vous pourriez avoir laissé dans vos descriptions publiques et privées.</p>
<div class="figure">
<img src="img/8_sidebar_partie.png" />
</div>
<p>Lorsque vous accéderez au forum de votre partie, vous constaterez que la barre de navigation latérale a changé : votre navigation est alors réduite à cette partie du site.</p>
<p>Surmontée par le titre de votre campagne et l'avatar de votre personnage, se trouve une nouvelle barre de navigation :</p>
<ol style="list-style-type: decimal">
<li>naviguez entre les forums de vos différentes parties.</li>
<li>revenez au forum de cette partie.</li>
<li>accédez à la fiche de votre personnage.</li>
<li>jetez un œil aux PNJ déjà rencontrés !</li>
<li>effectuez vos lancers de dés hors-topic <a href="http://jdroll.org/static/faq">Cf FAQ</a></li>
<li>rédigez vos posts et sauvegardez les.</li>
<li>messages lus, mais non répondus ? Mettez une partie en évidence !</li>
</ol>
<p>Elle sera affichée en rouge dans votre sidebar</p>
<p>Enfin, vous trouverez les noms des différents personnages participants, ainsi que les pseudos des joueurs qui se cachent derrière. Vous pouvez accéder à leur description publique en cliquant sur leur nom.</p>
<div class="figure">
<img src="img/9_favoris.png" />
</div>
<p><strong>Petit Plus :</strong> vous pouvez suivre une partie en tant que lecteur. Il vous suffit de vous rendre sur le forum de la partie, et de cliquer sur ce bouton. La partie apparaîtra dans votre sidebar en tant que partie favorite.  </p>
