<div class="row" style="margin-bottom: 1em">
    <div class="col-md-10">
        <div class="page-header">
            <h1>Bienvenue ! <small>Du jeu, du rôle, du Roll !</small></h1>
        </div>
    </div>
    <div class="col-md-2">
        <img ng-src="img/ban.png" width="100%" style="max-width: 250px">
    </div>
</div>
<div class="row well">
    <div class="col-lg-4">
        <h2>De la diversité</h2>
        <p>Du médieval fantastique jusqu'au space opéra, en passant par l'horreur, jdRoll vous permet de vivre des aventures dans des univers et des ambiances variées.</p><p> Ici, point de spécialisation, c'est la diversité qui compte !</p>
        <p><a class="btn btn-default" href="#">Voir les parties qui recrutent &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Des rencontres</h2>
        <p>Jouez avec des joueurs et des conteurs venant de toutes la France. Echangez avec eux via le tchat et le Forum.</p>
        <p>Au delà d'une simple plateforme de jeu, jdRoll c'est aussi une communauté accueillante et dynamique. </p>
        <p><a class="btn btn-default" href="#">Voir la liste des membres &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Adaptée au PBF</h2>
        <p>Conçu spécifiquement pour le jeu de rôle par forum, le site offre le maximum de fonctionnalité nécessaire à cette activité : lanceur de dés, galerie de personnages, feuille de personnages, ... </p> <p>La plateforme continue d'ailleurs à évoluée pour répondre aux sollicitations !</p>
        <p><a class="btn btn-default" href="#">Plus d'information &raquo;</a></p>
    </div>
</div>