<h2>Mes parties !</h2>

<div class="row col-md-12">
    <form role="form" class="form-search">
        <div align="right">
            <input type="text" class="input-medium search-query" placeholder="Recherche" ng-model="search.name" auto-focus>
        </div>
    </form>
</div>
<tabset justified="true">

    <tab ng-repeat="tab in tabset" heading="{{ tab.label }}" active="{{ tab.active }}">
        <div class="panel panel-success">
            <div class="panel-body">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Parties avec post en attente
                            <span class="pull-right fa fa-asterisk" />
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div waiting-img="gamesLoading" />
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12" ng-repeat="game in games | filter:tab.search | filter:hasActivity | filter:search">
                            <a ng-href="#/forum/{{game.id}}">
                                <div class="game-vignette">
                                    <img ng-src="{{game.banniere}}"><br>
                                    {{ game.name }}
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                        Parties en alertes
                        <span class="pull-right fa fa-bell" /></h3>
                    </div>
                    <div class="panel-body">
                        <div waiting-img="gamesLoading" />
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12" ng-repeat="game in games | filter:tab.search | filter:{activity: '0'} | filter:{campagne_alert: 1} | filter:search">
                            <a ng-href="#/forum/{{game.id}}">
                                <div class="game-vignette">
                                    <img ng-src="{{game.banniere}}"><br>
                                    {{ game.name }}
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Autres parties </h3>
                    </div>
                    <div class="panel-body">
                        <div waiting-img="gamesLoading" />
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12" ng-repeat="game in games | filter:tab.search | filter:{activity: '0'} | filter:{campagne_alert: 0} | filter:search">
                            <a ng-href="#/forum/{{game.id}}">
                                <div class="game-vignette">
                                    <img ng-src="{{game.banniere}}"><br>
                                    {{ game.name }}
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </tab>


</tabset>

