{% extends "squelette.html.twig" %}

{% block content %}

<center><h2>Mes Statistiques</h2></center>

<div ng-app="jdRoll.stat" class="col-xs-12">
    <h3>Messages cumulé au fil du temps ( total : {{ total }} )</h3>
    <div jd-stat-user-by-day></div>
    <h3>Messages par jeux ( total : {{ total }} )</h3>
    <div jd-stat-user-by-game></div>
</div>

{% endblock %}
