{% extends "squelette_campagne.html.twig" %}

{% block specificEndJs %}
    <script type="text/javascript" src="{{global.request.baseUrl}}/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="{{global.request.baseUrl}}/js/angular/widget_perso.js"></script>
{% endblock %}

{% block content %}

<div id="campagneMsg" clas"col-md-12">
</div>

<ul class="nav nav-tabs">
  <li class="active"><a href="#desc" data-toggle="tab">Description</a></li>
  <li><a href="#theme" data-toggle="tab">Theme graphique</a></li>
  <li><a href="#car" data-toggle="tab">Feuilles de Personnages</a></li>
  <li><a href="#widgets" data-toggle="tab">Widgets Personnages</a></li>
  <li><a href="#divers" data-toggle="tab">Divers</a></li>
  <li><a href="#joueurs" data-toggle="tab">Joueurs</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="desc">
    {% include('game/config/edit_main.html.twig') %}
  </div>
  <div class="tab-pane" id="divers">
    {% include('game/config/edit_divers.html.twig') %}
  </div>
  <div class="tab-pane" id="car">
    {% include('game/config/edit_car_sheet.html.twig') %}
  </div>
  <div class="tab-pane" id="widgets" ng-app="jdRoll.WidgetPersoApp" ng-init="widgets={{config.widgets}}; campagne={{config.campagne_id}}">
    {% include('game/config/widget_perso.html.twig') %}
  </div>
  <div class="tab-pane" id="theme">
    {% include('game/config/edit_theme.html.twig') %}
  </div>
  <div class="tab-pane" id="joueurs">
    {% include('game/config/edit_joueurs.html.twig') %}
  </div>

</div>

{% endblock %}
