<div id="notesModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
		    <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    <h3>Bloc Notes</h3>
		    </div>
		    <div class="modal-body">
		    	    <form>
		                <textarea id="contentNotes" class="note-wysiwyg">{{ content_notes }}</textarea>
				    </form>
		    </div>
		    <div class="modal-footer">
		    	<button class="btn btn-default" onClick="return callUpdateNotes();">Sauvegarder</button>
		    	<button class="btn btn-primary" onClick="return callUpdateNotes(); "data-dismiss="modal" aria-hidden="true">Sauvegarder et Fermer</button>
		    </div>
		</div>
	</div>
</div>


<script language="javascript">
function callUpdateNotes() {
    tinyMCE.triggerSave();
	content=$('#contentNotes').val();
	$.ajax({
		type: "POST",
		url: "{{ path('notes_update', {"campagne_id" : campagne_id}) }}",
		data: {content: content},
		error: function() { alert("Erreur lors de la mise à jour"); },
		success: function(retour){
		}
	});
	return true;
}
</script>
