{% extends "squelette.html.twig" %}

{% block content %}

	{% if (error != "") %}
	    <div class="alert alert-error">
	    	{{ error }}
	    </div>
    {% endif %}

	<form role="form" class="form-horizontal" action="{{ path('subscribe_save')  }}" method="POST">
	    <div class="form-group">
		    <label class="control-label" for="login">Login</label>
		    <div class="form-control">
		    	<input type="text" id="username" name="username" placeholder="Nom d'utilisateur" value="{{ user['username'] }}">
		    </div>
	    </div>
	    <div class="form-group">
		    <label class="control-label" for="mail">Email</label>
		    <div class="form-control">
		    	<input type="text" class="input-xxlarge"  id="mail" name="mail" placeholder="Adresse email" value="{{ user['mail'] }}">
		    </div>
	    </div>
	    <div class="form-group">
		    <label class="control-label" for="password">Mot de passe</label>
		    <div class="form-control">
		    	<input type="password" id="password" name="password" placeholder="Mot de passe">
		    </div>
	    </div>
	    <div class="form-group">
		    <label class="control-label" for="password2">Mot de passe (resaisir) </label>
		    <div class="form-control">
		    	<input type="password" id="password"2 name="password2" placeholder="Mot de passe">
		    </div>
	    </div>
	    <input type="hidden" name="url" value="!" />
	    
	    <div class="form-group">
		    <div class="form-control">
			    <button type="submit" class="btn btn-primary">S'enregistrer</button>
		    </div>
	    </div>
    </form>

{% endblock %}