{% extends 'squelette.html.twig' %}

{% block content %}


	<div class="col-md-12">

    	<div class="col-md-10">
    	    <div align="right">
				<form role="form" class="form-search">
				<input type="text" id="searchText" onkeyup="filterTable('#searchText','.messageTable')"  class="input-medium search-query">
				</form>
    		</div>
				
    	</div>
    	<div class="col-md-2" align="right">
    		<a href="{{ path('messagerie_new') }}" class="btn btn-primary">Nouveau message</a>
    	</div>
	    	
    </div>
    
	{% include('messagerie/list_sent.html.twig') %}

{% endblock %}