        <button id="notifIndicator" class="visible-xs btn btn-block {% if has_notif %} btn-notifs {% else %} btn-default {% endif %}" onClick="notifController.toggleNotif()">
          <i class="icon-bell-alt"></i> Notifications <span class="badge" id="notifNumber">{{nb_notif}}</span>
        </button>
