        <a id="notifIndicator" class="btn {% if has_notif %} btn-notifs {% else %} btn-default {% endif %}" onClick="notifController.toggleNotif()">
          <i class="icon-bell-alt"></i> Notifications <span class="badge" id="notifNumber">{{nb_notif}}</span>
        </a>
