        <button id="notifIndicator" class="btn {% if has_notif %} btn-danger {% endif %}" onClick="notifController.toggleNotif()">
          <i class="icon-bell"></i> Notifications <span class="badge" id="notifNumber">{{nb_notif}}</span>
        </button>
